@import "../../fonts/fonts";
body{
    overflow-x: hidden;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #F6FFF8;
}
.general-wrapper {
    /* display: flex;
    flex-direction: column; */
    width: 100vw
}
.general-wrapper__background-container {
    position: relative;
    background:url("../../img/background_table.jpg") center center/cover no-repeat;
    width: 100vw;
    height: 50rem;
    .rolling-pizza {
        position: absolute;
        top: 13em;
        width: 100%;
        height: 25em;
    }
    .rolling-pizza__container {
        display: block;
        width: 35em;
        height: 35em;
        margin: 0 auto;

        
    }
    .rolling-pizza__block {
        z-index: 1;
        background:url("../../img/pizza_with_shadow.png") center center/cover no-repeat;
        width: 100%;
        height: 100%;
        animation: pizzarolling 90s linear infinite;
        @keyframes pizzarolling{
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }    
        }
    }
}
.top_header__sign-up{
    display: flex;
    justify-content: space-between;
    /* padding: 2rem 0 0 0; */
    width: 100%;
    height: 13%;
    background-color: rgba($color: #ffffff, $alpha: .2);
    /* backdrop-filter: blur(3px); */
}
    .top_header__logo-name {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .top_header__image {
        max-width: 6rem;
        img{
        width: 100%;
        }

    }
    .logo-and-name{
        display:flex;
    }
    .top_header__name {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-family: 'Solitreo', cursive;
        font-size: 20px;
        color: #000000;
        .name-title{
            margin: 2rem 0 0 10px; 
        }
        .name-subtitle{
            font-size: 10px;
            margin: -5px 0 0 3rem;
            letter-spacing: 1px;    
        }
    }
.top_header__block_button{
    button{
        background: none;
        padding: 5px 1em ;
        border: .5px solid black;
        border-radius: 50px;}
        }

.contacts{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}        
.contacts__city-block {
        font-family: 'Solitreo', cursive;
        font-size: 20px;
        color: #000000;


    p{
        margin: 0;
    }

        }
        
.contacts__phone-number {
        /* margin-left: 10rem; */
        font-family: 'Solitreo', cursive;
        font-size: 20px;
        color: #000000;
    p{
        margin: 0;
    }
        }
.contacts__phone {
    text-decoration: none;
    color: #000000;

        }
.contacts__name-subtitle { /* общая на 2 title */
    font-size: 15px;
    color: #3c3c3c;
    text-align: center;
        }               
.header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 5rem;
    background-color: rgba($color: #ffffff, $alpha: .2);
    /* backdrop-filter: blur(3px); */
    z-index: 100;
&.active{
        position: fixed;
        backdrop-filter: blur(3px);
        height: 5.12rem;
    }
}
.container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1rem 0;
    
}

.container__block {
    align-items: center;
    padding: 0 3rem;
    width: 100%;
    height: 100%;
    
}
.container__block_link-wrapper {
    position: absolute;
    top: 0;
    left: 1rem;
    max-width: 5rem;
}

.container__image_link-wrapper  {
    width: 100%; 
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.1s ease-in-out;
    img{
        width: 100%;
        }     

&.show{
    display: block;
    transform: translateX(0);
    opacity: 1;
    transition: all 0.5s ease-in-out;
  }
}
.container__image {
    display: none;
    max-width: 6rem;
    position: absolute;
    right: 5rem;
    top: 0.5rem;
    img{
    position: relative;
    width: 100%;
    }
    &.visible {
        display: block;
    }
}

.cart-badge {
    display: none;
    position: absolute;
    right: 9rem;
    top: 4rem;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(219, 168, 16);
    color: white;
    font-family: 'Solitreo', cursive;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    &.visible {
        display: block;
    }
        }
.container__links {
    display: flex;
    width: 50%;
    margin-left: 5rem;
    justify-content: space-between;
    height: 100%;
    
    li{ 
        list-style: none;
        font-family: 'Solitreo', cursive;
        font-size: 20px;
        color: #000000;

    }
}
.main {
    margin-top: 43.5rem;
    width: 100%;
    height: 1500px;
}
.slider {
  /*   background-color: rgba($color: #000000, $alpha: .2); */
    padding: 5rem 0;
   img{ 
    display: block;
    margin: 0 auto;
    border-radius: 15px;
    max-height: 25em;
    /* min-width: 75vw; */
}
}
/* Импортирование Grid-Элементов */
@import "../sass/pizza_grid";
@import "../sass/starter_grid";
@import "../sass/drinks_grid";
@import "../sass/sandwiches_grid";
@import "../sass/combo_grid";


/* .footer {
} */